* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Rubik';
}

/* Header */

.header {
    width: 1400px;
    margin: 0 auto;
    margin-top: 10px;
    height: 105px;
    background: #F6F6F6;
}

.header__navigations-menu {
    display: flex;
    justify-content: space-between;
    height: 105px;
    align-items: center;
}

.header__navigations-menu-ul {
    display: flex;
    gap: 35px;
    height: 45px;
}

.header__navigations-menu-logo {
    width: 276px;
    background: #FFFFFF;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navigations-menu-li {
    display: flex;
    align-items: center;
}

.header__navigations-menu-li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(85, 85, 85, 1);
}

span {
    color: #2959CE;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.header__forms {
    display: flex;
    gap: 40px;
}

.header__form input {
    height: 45px;
    width: 275px;
    background: #FFFFFF;
    border-radius: 60px;
    border: none;
}

.header__form input::placeholder {
    position: relative;
    left: 20px;
}

.header__form2 {
    display: flex;
    gap: 30px;
}

.header__form2 select {
    border: none;
    width: 70px;
    border-radius: 20px;
} 

select {
    padding-left: 10px;
}
.header__btn {
    width: 89px;
    border-radius: 10px;
    border: none;
    background: #7296EC;
}

.header__btn a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* NAVBAR */

.navbar {
    width: 1400px;
    height: 41px;
    margin: 0 auto;
}

.navbar__menu-lists {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #D1D1D1;
    margin-top: 30px;
    padding-bottom: 20px;
}

.navbar__menu-li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7F7F7F;
}

/* MAIN__ADS */

.main__ads {
    width: 1400px;
    margin: 0 auto;
    height: 208px;
}

.main__ads-banner {
    display: flex;
    align-items: center;
    height: 208px;
}

/* main__world */

.main__world {
    width: 1440px;
    margin: 0 auto;
}

.main__world-h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 20px;
}

.main__world-box {
    display: flex;
}

.main__world-box1 {
    width: 797px;
}
.main__world-box2 {
    width: 393px;
    background: #F6F6F6;
    border-radius: 15px;
    height: 502px;
    margin: 10px;
}

.main__world-box1-div {
    display: flex;
    background: #F6F6F6;
    border-radius: 15px;
    margin: 10px 10px 0 0;
}

.main__world-box1-img {
    padding: 20px 15px;
}

.main__world-box1-title {
    padding: 20px 20px 15px 0;
}

.main__world-box1-title-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    width: 535px;
    height: 60px;
    padding-bottom: 10px;
}

.main__world-box1-title-p {
    width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
    margin-bottom: 17px;    
}

.main__world-box1-title-indiv {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main__world-box1-title-indiv-p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}

.main__world-box2-indiv {
    height: 502px;
}
.main__world-box2-indiv h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 20px 0 0px 17px;
}

.main__world-box2-indiv2 {
    width: 359px;
    height: 91px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2 ;
    margin-bottom: 20px;
    margin: 20px auto;
    
}

.main__world-box2-indiv2-h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
}

.main__world-box2-indiv2-end {
    width: 359px;
    height: 91px;
    padding: 0 0 20px 17px;
}

.main__world-box2-indiv2-p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
}

.main__world-box2-img {
    margin-top: 23px;
}

.main__world-box1-div-link {
    width: 789px;
    height: 53px;
    background: #EAEAEA;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__world-box1-div-link a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/* FOOTER */

.footer {
    width: 1440px;
    height: 356px;
    background-color: #7297EF;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    align-items: center;  
}

.footer__box {
    width: 998px;
    margin: 0 auto;
    height: 276px;
}

.footer__menu {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 30px; 
}

.footer__about-side p {
    width: 229px;
    height: 95px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

.footer__menu-lists {
    width: 224px;
    height: 136px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__menu-lists a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer__socials-p p {
    width: 161px;
    height: 46px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.footer__socials-box {
    display: flex;
    gap: 25px;
    font-size: 20px;
}
